# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
.yarn/
.pnpm-store/
.pnp
.pnp.js

# testing
coverage/

# next.js
.next/
.swc/
out/
build/
migrations/
storybook-static/

# hooks
.husky/

# misc
.DS_Store
*.pem

# files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# env files
*.local
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo/

# ui
dist/
dist-ssr/

# typescript
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel/

# playwright
test-results/
blob-report/
playwright-report/
playwright/.cache/
