{
    "printWidth": 119,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "none",
    "semi": false,
    "htmlWhitespaceSensitivity": "css",
    "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
    "tailwindFunctions": ["clsx"],
    "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy", "classProperties"],
    "importOrderTypeScriptVersion": "5.3.3",
    "importOrder": [
        "<BUILTIN_MODULES>",
        "",
        "<THIRD_PARTY_MODULES>",
        "",
        "^@$",
        "^@/(.*)$",
        "",
        "^@repo/ui$",
        "^@repo/ui/(.*)$",
        "",
        "^@repo/next$",
        "^@repo/next/(.*)$",
        "",
        "^@repo/react$",
        "^@repo/react/(.*)$",
        "",
        "^@repo/chrome$",
        "^@repo/chrome/(.*)$",
        "",
        "^[.]",
        "",
        "^(?!.*[.]css$)[./].*$",
        ".css$"
    ]
}
