type {{pascalCase (extractFilename path)}}Props = object

export const {{pascalCase (extractFilename path)}} = ({}: {{pascalCase (extractFilename path)}}Props) => {
    return (
      <div>
        {{pascalCase (extractFilename path)}} Component
      </div>
    )
}
